<div class="container">

{{#each erros}}
    <div class="alert alert-danger">{{texto}}</div>
    {{else}}
{{/each}}
<div class="card">
    <div class="card-body">
        <h4>Nova postagem</h4>
        <form action="/admin/postagens/nova" method="POST" >
            <label for="titulo">Nome:</label>
            <input type="text" name="titulo" class="form-control" id="" required>
            <label for="slug">Seu RG:</label>
            <input type="text" name="slug" id="" class="form-control" required>
            <label for="valor">Valor por hora de serviço:</label>
            <input type="text" name="valor" id="" class="form-control" placeholder="R$" required>
            <label for="descricao">Estado e Cidade:</label>
            <input type="text" name="descricao" required class="form-control">
            <label for="conteudo">Seu diferencial no serviço:</label>
            <textarea name="conteudo" class="form-control " required></textarea>
            <label for="categoria">Profissão que irá atuar:</label>
            <select name="categoria" class="mt-2 custom-select" id="">
                {{#each categorias}}
                <option value="{{_id}}">{{nome}}</option>
                {{else}}
                <option value="0">Nenhuma categoria registrada</option>
                {{/each}}
            </select> <br>
            <button  class="btn btn-success mt-4" type="submit">Criar postagem</button>
        </form>
    </div>
</div>
</div>