

<link rel="stylesheet" href="/css/css-index.css">



    <div class="container container-externo mt-2 ">
        <div class="row row-conteudo">
            <div class="col-lg-6 col-md-6 col-sm-12">
                <img class="img-fluid conteudo-1" src="/img/vem.png" alt="">
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12">
                <p class="titulo">Escolha as melhores opções para sua festa em alguns cliques!</p>
                <hr class="padrao-hr mr-auto">
                <p class="subtitulo">Um leque cheio de profissionais competentes para sua festa!</p>
                <a href="/ultimas">
                <button class="botao-titulo scrool">Veja mais ;)</button>
                </a>
            </div>
        </div>
    </div>

    <div class="container mt-2 container2 mb-5">
        <h1 class="title">Sobre nós</h1>
        <hr class="title-hr">
        <div class="row mt-5">
            <div class="col-lg-6 col-md-6 col-sm-12">
                <h2>Somos a GETPARTY</h2>
                <p>Um time com o intuito de desenvolver uma aplicação Web para facilitar sua vida, 
                    iremos proporcionar a melhor experiência para você não se preocupar com os profissionais do seu evento, apenas selecione 
                    o profissional, negocie seu valor e pronto! </p>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12">
                <img class="img-fluid" src="/img/quem-somos.svg" alt="">
            </div>
        </div>
        <!-- <hr class="hr-separacao"> -->
    </div>


    <div class="background-etapas mt-5">

        <div class="container ">
            <h1 class="text-center texto-titulo-etapas "> Utilize o aplicativo GETPARTY</h1>
            <div class="row mt-5 text-center">
                <div class="col-lg-4 col-md-4 col-sm-12 ">
                    <div class="background-inside">
                        <img class="img-fluid imagens-logos" src="/img/selecione.svg" alt="">
                        <h2>Selecione seu profissional.</h2>
                    </div>
                </div>

                <div class="col-lg-4 col-md-4 col-sm-12 ">
                    <div class="background-inside">

                        <img class="img-fluid imagens-logos" src="/img/contrato.svg" alt="">
                        <h2>Contrate com nosso aplicativo</h2>
                    </div>

                </div>


                <div class="col-lg-4 col-md-4 col-sm-12 ">
                    <div class="background-inside">

                        <img class="img-fluid imagens-logos" src="/img/diversao.svg" alt="">
                        <h2>Tenha uma boa festa!</h2>
                    </div>

                </div>

            </div>
        </div>
    </div>






    <div class="container mt-2 container2">
        <h1 class="title">Poupe seu tempo!</h1>
        <hr class="title-hr">
        <div class="row mt-5">
            <div class="col-lg-6 col-md-6 col-sm-12">
                <img class="img-fluid " src="/img/festa.png" alt="">
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12">
                <h2>Em alguns cliques você contrata! </h2>
                <p> Temos um botão escrito “profissionais” podendo selecionar qual ou quais profissões desejar para seu evento. <br>
Após selecionar, haverá uma lista com todos os profissionais cadastrados na profissão selecionada, juntamente com os preços, descrições de seus serviços, estados e cidades que atuam. 
</p>
            </div>
        </div>
    </div>


    <div class="container mt-2 container2">
        <hr class="hr-separacao">
        <h1 class="title">Eventos de qualquer tamanho!</h1>
        <hr class="title-hr">
        <div class="row mt-5">
            <div class="col-lg-6 col-md-6 col-sm-12">
                <h2>Negocie com quantos quiser!</h2>
                <p>Você pode sem problema nenhum contratar quantos funcionarios você precisar, não importa o tamnho do evento, oque importa é não vai faltar profissional nele!</p>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12">
                <img class="img-fluid " src="/img/qlqrtamanho.png" alt="">
            </div>
        </div>
    </div>

    <div class="container">
        <hr class="hr-separacao">

        <h1 class="text-center mt-5">Profissionais disponiveis!</h1>
        <hr class="title-hr">


        <div class="row text-center mt-5 mb-5">
            <div class="col-lg-4 col-md-4 col-sm-12  ">
                <div class="box-profissionais">

                    <img class="img-fluid bloco-de-profissoes" src="/img/segurança.svg" alt="">
                    <hr class="txt-profissoes">
                    <h3>Segurança</h3>
                    <hr class="txt-profissoes">
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 ">
                <div class="box-profissionais">

                    <img class="img-fluid bloco-de-profissoes" src="/img/garcom.svg" alt="">
                    <hr class="txt-profissoes">
                    <h3>Garçom</h3>
                    <hr class="txt-profissoes">
                </div>

            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 ">
                <div class="box-profissionais">

                    <img class="img-fluid bloco-de-profissoes" src="/img/dj.svg" alt="">
                    <hr class="txt-profissoes">
                    <h3>DJ</h3>
                    <hr class="txt-profissoes">
                </div>

            </div>
        </div>


        <div class="row text-center mt-5 mb-5">
            <div class="col-lg-4 col-md-4 col-sm-12 ">
                <div class="box-profissionais">

                    <img class="img-fluid bloco-de-profissoes" src="img/banda.svg" alt="">
                    <hr class="txt-profissoes">
                    <h3>Banda</h3>
                    <hr class="txt-profissoes">
                </div>

            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 ">
                <div class="box-profissionais">

                    <img class="img-fluid bloco-de-profissoes" src="img/camera.svg" alt="">
                    <hr class="txt-profissoes">
                    <h3>Fotografo</h3>
                    <hr class="txt-profissoes">
                </div>

            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 ">
                <div class="box-profissionais">

                    <img class="img-fluid bloco-de-profissoes" src="img/limpeza.svg" alt="">
                    <hr class="txt-profissoes">
                    <h3>Limpeza</h3>
                    <hr class="txt-profissoes">
                </div>
            </div>
        </div>
    </div>



    
    <!-- footer -->
    <div class="container">
        <hr class="hr-separacao">
        
    </div>
    
    <section class="footer mt-5">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-4 footer-1">
                    <img src="img/getparty.png" alt="">
                    <p>Nós somos a GET PARTY. Uma Startup focada em eventos, totalmente especializada em disponibilizar serviços independentes.
</p>
                <p>© 2020 São Paulo, Todos Os Direitos Reservados</p>
            </div>
            <div class="col-sm-12 col-md-12 col-lg-4 footer-2">
                <ul>
                    <h4>Menu -</h4>
                    <li><a href="">Home</a></li>
                    <li><a href="">Profissôes</a></li>
                    <li><a href="">Ultimas publicações</a></li>
                    <li><a href="">Login</a></li>
                </ul>
            </div>
            <div class="col-sm-12 col-md-12 col-lg-4 footer-3">
                <ul>
                    <h4>Redes Sociais -</h4>
                    <li><a href="">Instagram</a></li>
                    <li><a href="">Twitter</a></li>
                    <li><a href="">Facebook</a></li>
                    <li><a href="">Email</a></li>
                </ul>
            </div>
        </div>
        
        <div class="nomes text-center">
            <hr class="hr-separacao">
            <p>Designed by <a href=""> Orlando Tan & Vitor Pfitzenmier </a></p>
        </div>
    </div>
</section>










{{!-- <div class="jumbotron">
  <h1 class="display-4">Bem vindo</h1>
  <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
  <hr class="my-4">
  <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
  <a class="btn btn-primary btn-lg" href="#" role="button">Crie a conta</a>
</div>

<hr>


<h2>Postagens recentes</h2>

{{#each postagens}}
<div class="card mt-4">
    <div class="card-body">
       
        <h3>{{titulo}}</h3>
        <p>{{descricao}}</p>
      <a href="/postagem/{{slug}}">
        <button class="btn btn-success">Leia mais</button>
      </a>
        <hr>
         <small>Categoria: {{categoria.nome}}</small> <br>
        <small>Data de publicação: {{data}}</small>
    </div>
</div>
{{else}}
<h5>Nenhuma postagem registrada!</h5>

{{/each}} --}}
